<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clickless.workflow.mapper.LoanMapper">

    <resultMap id="LoanAndStatusList" type="com.clickless.workflow.domain.Loan">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="nick_name" property="nickName"/>
        <result column="money" property="money"/>
        <result column="purpose" property="purpose"/>
        <result column="remark" property="remark"/>
        <result column="loan_date" property="loanDate"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="process_instance_id" property="processInstanceId"/>
        <result column="status" property="status"/>
    </resultMap>

    <select id="getLoanAndStatusList" resultMap="LoanAndStatusList">
        SELECT t1.*, t2.* FROM wkfl_biz_loan t1
        LEFT JOIN wkfl_business_status t2
        ON t1.id = t2.business_key
        WHERE t1.user_id = #{req.username}
        <if test="req.purpose != null and req.purpose != ''">
            AND t1.purpose LIKE CONCAT('%', #{req.purpose}, '%')
        </if>
        <if test="req.status != null">
            AND t2.status = #{req.status}
        </if>
        ORDER BY t1.create_time DESC
    </select>

</mapper>